/* 
___ _            _                 _   
/ __(_)_ __  _ __| |___ _ _ ___ _ _| |_ 
\__ \ | '  \| '_ \ / -_) '_/ -_) ' \  _|
|___/_|_|_|_| .__/_\___|_| \___|_||_\__|
| __|____ __|_|                         
| _/ _ \ \ /                            
|_|\___/_\_\                            

 */

:root{
    scrollbar-width: none !important;
    --srf-color-primary: #24283b;
}

@-moz-document url(about:privatebrowsing) {
    :root{
	scrollbar-width: none !important;
	background-color: var(--srf-color-primary) !important;
    }
}

@-moz-document domain(monkeytype.com) {
    body { 
	font-family: "PragmataPro" !important; 
	font-weight: 200 !important;
    }
}

@-moz-document domain(typings.gg) {
    body { 
	font-family: "PragmataPro" !important; 
	font-weight: 200 !important;
    }
}
